numpy==1.17.1
pandas==0.25.1
scikit-learn==0.21.3
matplotlib==3.1.1
seaborn==0.9.0
ipympl==0.3.3
jupyter==1.0.0
jupyterlab==1.1.1
PyYAML==5.1.2
Pillow==6.1.0
h5py==2.9.0
Keras==2.2.5
Theano==1.0.4
sacred==0.7.5
tensorflow==1.14.0
opencv-python==4.1.1.26
pymongo==3.9.0
statsmodels==0.10.1
